@import url('https://fonts.googleapis.com/css?family=Tauri');

body {
    padding-top: 80px;
    text-align: center;
    font-family: 'Tauri', sans-serif;
    background-color: palegoldenrod;
    color:
}

#nav-bar .nav-link{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    height: 100%;
}


#features h3,p  {
    text-align: left;
}

#header-img {
    width: 250px;
}

#videobox {
    max-width: 60%;
    margin: 0 auto;
}

#price {
    text-align: center;
    font-size: 2rem;
}

#contact {
    width: 80%;
}